onnxruntime==1.23.2
numpy==1.26.4
misaki==0.9.4
spacy==3.7.5
thinc==8.2.5
tokenizers==0.22.2
espeakng-loader==0.2.4
phonemizer-fork==3.3.2
num2words==0.5.14
fugashi==1.5.2
jaconv==0.4.0
mojimoji==0.0.13
unidic-lite==1.0.8
cn2an==0.5.23
jieba==0.42.1
ordered-set==4.1.0
pypinyin==0.55.0
pypinyin-dict==0.9.0
lameenc==1.8.4
setuptools==80.9.0
wheel==0.45.1
